@font-family: "Roboto, sans-serif"; // 'Fieldwork Geo Regular';

/* layout */
@max-scroll-container-height: 500px;

/* colors */
@active-nav:#DF6D59;
@aqua: #22d5be;
@border-color: #d6d6d6;
@light-grey: #e0e0e0;
@border-color-dark: #808080;
@banded-color: @border-color;
@container-background:   #f6f6f6; //#f0f0f0; //
@content-background: #f5f5f5;
@dell-blue: #007db8;
@dell-grey: #ababab;
@dell-steel: #657792;
@edit-orange: #ff7c66;
@green: #20b338;
@inactive-text-color: #454545;
@list-active: #ffd739;
@nav-hover-background: #1EACA6;
@navbar-background: #033d58;
@navbar-text-color: #f0f0f0;
@warning: #9e1d1d;
@white-smoke: #f5f5f5;

/* utility */
@padding: 15px;
@padding-small: 10px;
@border-width: 0.5px;
@small-number-input-width: 60px;

/* wait spinner */
@wait-circle-size: 50px;
@wait-circle-stroke-color: @active-nav;